#top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

td{
    cursor: pointer !important;
}

.datos{
    background: #222;
    color: #fff;
    padding: 20px;
    margin-top: 50px;
}

.color_rojo{
    color: #f00;
}